<h1>Editing Medical Record</h1>

<%= render 'form', medical_record: @medical_record %>

<%= link_to 'Show', patient_medical_record_path(@medical_record.patient_id, @medical_record), class:"btn btn-primary" %> |
<%= link_to 'Back', patient_path, class:"btn btn-secondary" %>
